.about {
  height: 1fr;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  background-color: #f5f5f5;
}

.aboutText {
  flex: 1;
  max-width: 50%;
}

.aboutText h1 {
  font-family: "Markazi Text", sans-serif;
  font-size: 56px;
  color: #495e57;
  margin-bottom: -20px;
  margin-top: 50px;
  color: #f3ce13d8;
}

.aboutText h2 {
  font-family: "Markazi Text", sans-serif;
  font-size: 32px;
  color: #495e57;
  margin-bottom: 27px;
}

.aboutText p {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.aboutText p:last-of-type {
  margin-bottom: 40px;
}

.aboutText h3 {
  margin-bottom: 1px;
}

.aboutImages {
  position: relative;
  max-width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.aboutImgA {
  width: 290px;
  height: 350px;
  /* border-radius: 16px; */
  z-index: 1;
  position: absolute;
  right: 10px;
  top: 50px;
  border: 1px gray solid;
  box-shadow: -1px 0px 3px 1px;
}

.aboutImgB {
  width: 290px;
  height: 350px;
  z-index: 0;
  position: absolute;
  right: 210px;
  top: 150px;
}
