.confirmed-booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding: 20px;
  background-color: #f5f5f5;
  border: 2px solid #495e57;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.confirmed-booking h2 {
  color: #495e57;
  font-family: "Markazi Text", serif;
  font-size: 36px;
  margin-bottom: 10px;
}

.confirmed-booking p {
  font-family: "Karla", sans-serif;
  font-size: 18px;
  color: #333;
}
